<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="assets/images/logo1.svg" alt="BHN logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile is-active">Home</a>
      <a class="nav-item is-tab is-hidden-mobile">Order Central</a>
      <a class="nav-item is-tab is-hidden-mobile">Ribs</a>
      <a class="nav-item is-tab is-hidden-mobile">Telecom</a>
    </div>
    <span class="nav-toggle">
      <span></span>
    <span></span>
    <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="nav-item is-tab is-hidden-tablet">Features</a>
      <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
      <a class="nav-item is-tab is-hidden-tablet">About</a>
      <a class="nav-item is-tab">
        Hello, Duk Lee
      </a>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>