<table class="table">
  <thead>
    <tr>
      <th><abbr title="Position">Card Number</abbr></th>
      <th><abbr title="Played">Proxy Card Number</abbr></th>
      <th><abbr title="Won">UPC</abbr></th>
      <th><abbr title="Drawn">Card Status</abbr></th>
      <th><abbr title="Lost">Card Type</abbr></th>
      <th><abbr title="Goals for">Card Source</abbr></th>
      <th><abbr title="Goals against">Denomination</abbr></th>
      <th><abbr title="Goal difference">Name on Card</abbr></th>
      <th><abbr title="Points">Expiration Date</abbr></th>
      <th>Created On</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Position">Card Number</abbr></th>
      <th><abbr title="Played">Proxy Card Number</abbr></th>
      <th><abbr title="Won">UPC</abbr></th>
      <th><abbr title="Drawn">Card Status</abbr></th>
      <th><abbr title="Lost">Card Type</abbr></th>
      <th><abbr title="Goals for">Card Source</abbr></th>
      <th><abbr title="Goals against">Denomination</abbr></th>
      <th><abbr title="Goal difference">Name on Card</abbr></th>
      <th><abbr title="Points">Expiration Date</abbr></th>
      <th>Created On</th>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>38</td>
      <td>23</td>
      <td>12</td>
      <td>3</td>
      <td>68</td>
      <td>36</td>
      <td>+32</td>
      <td>81</td>

    </tr>

    <tr>
      <th>2</th>
      <td>17</td>
      <td>38</td>
      <td>11</td>
      <td>9</td>
      <td>18</td>
      <td>39</td>
      <td>51</td>
      <td>−12</td>
      <td>42</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17</td>
      <td>38</td>
      <td>11</td>
      <td>9</td>
      <td>18</td>
      <td>45</td>
      <td>67</td>
      <td>−22</td>
      <td>42</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17</td>
      <td>38</td>
      <td>9</td>
      <td>12</td>
      <td>17</td>
      <td>48</td>
      <td>62</td>
      <td>−14</td>
      <td>39</td>
    </tr>
    <tr>
      <th>5</th>
      <td>18</td>
      <td>38</td>
      <td>9</td>
      <td>10</td>
      <td>19</td>
      <td>44</td>
      <td>65</td>
      <td>−21</td>
      <td>37</td>
    </tr>
    <tr>
      <th>6</th>
      <td>18</td>
      <td>38</td>
      <td>9</td>
      <td>7</td>
      <td>22</td>
      <td>39</td>
      <td>67</td>
      <td>−28</td>
      <td>34</td>
    </tr>
    <tr>
      <th>7</th>
      <td>20</td>
      <td>38</td>
      <td>3</td>
      <td>8</td>
      <td>27</td>
      <td>27</td>
      <td>76</td>
      <td>−49</td>
      <td>17</td>
    </tr>
  </tbody>
</table>